@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --red: #E50914;
    --black: #141414;
    --light_grey: #EBE5E5;
    --dark_grey: #303030;
}

*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--black);
}

/*navElements*/

.title{
    color: var(--red);
    font-size: 2em;
}

header .container{
    align-items: center;
    display: flex;
    height: 50px;
}

header .navBar{
    margin-left: 3em;
}

header nav a{
    color: #aaa;
    text-decoration: none;
    margin-right: 1em;
}

header nav a:hover{
    color: #fff;
}


/*Main clip*/

main .clip-title {
    padding: 10em 0 0 2rem;
}

main h3{
    font-size: 2em;
}

main .main-clip{
    background-image: linear-gradient(to right, rgba(0,0,0,.90),rgba(200,200,200,.01)100%), url('../images/The\ White\ Stripes\ -\ Hardest\ Button\ to\ Button.png');
    background-size: cover;
    height: 400px;
}

/* Button */

.action-btn{
    margin-top: 2em;
}

button{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 1em;
    padding: 10px 30px;
    transition: .4s ease-out;
    margin-top: 5px;
}

.playbutton{
    background-color: rgba(255,255,255,.75);
    color: black;
}

.playbutton i{
    color: black;
}

.playbutton:hover{
    background-color: white;
}

.infobutton{
    background-color: rgba(0,0,0,.40);
}

.infobutton:hover{
    background-color: black;
}


/* Carossel */


.carrossel-clips h3{
    margin-top: -15px;
    padding-left: 2rem;

}



.box-clip{
    height: 100%;
    width: 100%;
    display: block;
}